# C++ temporary files
*.tlog
*.obj
*.idb
*.pdb
*.ipch
*.vcxproj
*.sln
*.filters
*.user
*.recipe
*.ilk
*.vsidx
*.exe

# Python temporary files
__pycache__/

# Subsuming operator calculation results
*_noDups.*
*_killed*.yaml
*_sampleDups.*
sample-duplicated/

# Visual Studio indices
CopilotIndices/
FileContentIndex/

V9_process_MRs_log_2025.txt
/Project_MT_c++/.vs
Project_MT_c++/Project_MT_c++/x64/Debug/Project_MT_c++.log
